<div class="col-md-6 colum-index">
  <div class="media">
    <div class="media-left media-middle">
      <%= link_to home do %>
        <% if home.image_url %>
          <%= image_tag(home.image_url, class: "media-object", size: "155x150") %>

        <% else %>
          <%= image_tag("download.jpg", class: "media-object", size: "155x150") %>
        <% end %>
        <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <%= image_tag(home.image_url(:medium)) %>
            </div>
          </div>
        </div>
        <%= link_to "Large" %>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <%= image_tag(home.image_url(:large)) %>
            </div>
          </div>
        </div>
        <% if logged_in? %>
          <span data-home-id="<%= home.id %>" class="favorite-home glyphicon glyphicon-heart <%= favorited_class(home, current_user) %>" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= home.address %></h4>
      <p>
        <%= home.city %> , <%= home.state %> <%= home.zipcode %>
      </p>
      $ <%= home.price %>
      <p><%= home.bedrooms %> bedrooms , <%= home.bathrooms %> bathrooms</p>
    </div>
  </div>
</div>
