<div class="col-md-6 colum-index">
  <div class="media">
    <div class="media-left media-middle">
      <%= link_to home do %>
        <% if home.image_url %>
          <%= image_tag(home.image_url, class: "media-object", size: "155x150") %>
        <% else %>
          <%= image_tag("download.jpg", class: "media-object", size: "155x150") %>
        <% end %>


        <% if home.image_url(:medium) %>
          <%= link_to "Medium" %>
          <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body"><%= image_tag(home.image_url(:medium))%></div>
              </div>
            </div>
          </div>
        <% end %>

        <% if home.image_url(:large)%>
          <%= link_to "Large" %>
          <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body"><%= image_tag(home.image_url(:large))%></div>
              </div>
            </div>
          </div>
        <% end %>



        <% if logged_in? %>
          <span data-home-id="<%= home.id %>" class="favorite-home glyphicon glyphicon-heart <%= favorited_class(home, current_user) %>" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>



    <div class="media-body">
      <h4 class="media-heading"><%= home.address %></h4>
      <p>
        <%= home.city %> , <%= home.state %> <%= home.zipcode %>
      </p>
      $ <%= home.price %>
      <p><%= home.bedrooms %> bedrooms , <%= home.bathrooms %> bathrooms</p>
    </div>
  </div>
</div>
