<div class="col-md-6 colum-index">
  <div class="media">
    <div class="media-left media-middle">
      <%= link_to home do %>
        <% if home.image_url(:original) %>
          <%= image_tag(home.image_url(:small), class: "media-object", size: "155x150") %>
        <% else %>
          <%= image_tag("download.jpg", class: "media-object", size: "155x150") %>
        <% end %>
      <% end %>

      <% if home.image_url(:medium) %>
        <a class="modal-popup" data-toggle="modal" data-target=".modal-medium-images-<%= home.id %>">Medium</a>
        <div class="modal modal-medium-images-<%= home.id %>">
          <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
          <div class="modal-body-images">
            <%= image_tag(home.image_url(:medium))%>
          </div>
        </div>
      <% end %>


      <% if home.image_url(:large)%>
        <a class="modal-popup" data-toggle="modal" data-target=".modal-large-images-<%= home.id %>">Large</a>
        <div class="modal modal-large-images-<%= home.id %>">
          <div class="modal-body-images">
            <%= image_tag(home.image_url(:large))%>
          </div>
        </div>
      <% end %>



      <% if logged_in? %>
        <span data-home-id="<%= home.id %>" class="favorite-home glyphicon glyphicon-heart <%= favorited_class(home, current_user) %>" aria-hidden="true"></span>
      <% end %>
    </div>



    <div class="media-body">
      <h4 class="media-heading"><%= home.address %></h4>
      <p>
        <%= home.city %> , <%= home.state %> <%= home.zipcode %>
      </p>
      $ <%= home.price %>
      <p><%= home.bedrooms %> bedrooms , <%= home.bathrooms %> bathrooms</p>
    </div>
  </div>
</div>
