<div class="page-header">
  <%= link_to new_home_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-home"></span>
    New Home
  <% end %>
  <h1 Listing>Homes for Sale</h1>
</div>
<%- @homes.each do |home| %>
  <div class="media col-md-6">
    <div class="media-left media-middle">
      <a href="#">
      <img class="media-object" src="https://www.moneysmart.gov.au/media/399935/buying-a-home.png" width="255" height="250">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= home.address %></h4>
        <p>
        <%= home.city %> , <%= home.state %> <%= home.zipcode %>
        </p>
        $ <%= home.price %>
        <p><%= home.bedrooms %> bedrooms , <%= home.bathrooms %> bathrooms</p>

    </div>
  </div>
<% end %>
