<div class="page-header">
  <%= link_to new_home_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-home"></span>
    New Home
  <% end %>
  <h1 Listing>homes</h1>
</div>
<%- @homes.each do |home| %>
  <div class="media">
    <div class="media-left media-middle">
      <a href="#">
      <img class="media-object" src="https://www.moneysmart.gov.au/media/399935/buying-a-home.png" width="255" height="250">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= home.address %></h4>
        ...
    </div>
  </div>
<% end %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Square feet</th>
        <th>Price</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="table-body">
      <%- @homes.each do |home| %>
      <tr>
        <td><%= home.address %></td>
        <td><%= home.city %></td>
        <td><%= home.state %></td>
        <td><%= home.zipcode %></td>
        <td><%= home.bedrooms %></td>
        <td><%= home.bathrooms %></td>
        <td><%= home.square_feet %></td>
        <td><%= home.price %></td>
        <td><%= home.description %></td>
        <td>
          <%= link_to home do %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_home_path(home) do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <%= link_to home, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
